			body{
				background: url('img/bg.jpg') no-repeat center center fixed;
				background-size: cover;
			}

			#mn{

				height: 100vh;
				width: 100vw;
				background: url('img/bg.jpg') no-repeat center center fixed;
				background-size: cover;
			}

			#ban{
				width: 100%;
				height: 100%;
				background-size: contain;

			}

			.col-sm-4 img{
				width: 100%;
				height: 100%;
				border-radius: 1%;
			}

			.col-sm-4{
				opacity: 0.8;
				margin-top: 1%;
			}

			.btn{
				background-color: rgba(0, 0, 0, 0.47);
			}

			#crt:hover{
				opacity: 1;
			}

			#edt:hover{
				opacity: 1;
			}

			#ar:hover{
				opacity: 1;
			}

			#bner{
				width: 100%;
				margin-top: 3%;
			}